#list-of-bookmarks .banner {
  height: 300px;
  background-image: url("https://picsum.photos/1600/300?grayscale");
  // background-color: rgba(178, 178, 199, 0.835);
}

#list-of-bookmarks .bookmark-card {
  // padding: 10px
}


#list-of-bookmarks .bookmark-card img {

  width: 100%;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center
}

#list-of-bookmarks .bookmark-card-content-overview {
  height: 300px;
  overflow: scroll;
}
