#list-of-bookmarks .banner {
  height: 300px;
  background-image: url("https://picsum.photos/1600/300?grayscale");
  // background-color: rgba(178, 178, 199, 0.835);
}


#list-of-bookmarks .bookmark-card img {
  width: 100%;
}

#list-of-bookmarks .bookmark-card-content-overview {
  height: 200px;
  overflow: scroll;
}

#list-of-bookmarks .reviews-inputs {
  padding: 15px;
  border-right: solid rgb(200, 198, 198) 2px;

    ul li{
      list-style-type: none;
    }
}

#list-of-bookmarks .reviews-form {
  padding-top:15px;
  padding-right:15px;
  padding-bottom:15px;
  border-right: solid rgb(200, 198, 198) 2px;

}

#list-of-bookmarks .reviews-container {
  max-height: 300px;
}
